@import "tailwindcss";

@font-face {
  font-family: 'Avenir Book';
  src: url('/fonts/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #efdfc2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Quicksand', sans-serif !important;
  background-color: #efdfc2;
  margin: 0;
}

/* Swiper overrides */
.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #94a3b8;
  font-size: 25px !important;
}

.swiper-pagination-bullet {
  background-color: #d4c9b3 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #94a3b8 !important;
}